<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="driverUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="user" value="system"/>
        <property name="password" value="katheer"/>
        <property name="minimumConnectionCount" value="1"/>
        <property name="maximumConnectionCount" value="1"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="employeeDao" class="org.katheer.dao.EmployeeDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>